body>table:nth-child(5) {
	width: 100%;
}

#streetlifeImg,#streetlifeImgWrapper {
	width: 175px;
}

#guidancePopUpPanel > div > table > tbody > tr > td > div > dl > dd{
	margin-top: 2px;
}

#guidancepopupbutton {
	right: 23px;
	position: absolute;
	margin-top: 5px;
}

#guidancePopUpPanel>div>table>tbody>tr:nth-child(1)>td>div>dl {
	margin-left: -120px;
}

#guidancePopUpPanel > div > table > tbody > tr > td > div > dl > dd > input{
	width: 250px;
}

#guidancePopUpPanel > div > table > tbody > tr > td > div > dl > dt{
	margin: 5px;
}

#slideRightPanelContent>tbody>tr>td>div>dl>dd:before {
	content: none;
	display: none;
}

#guidancePopUpPanel > div > table > tbody > tr:nth-child(1) > td > div > dl > dd:nth-child(10) > select{
	width: 100%;
}

#SwitchMapButton,#SwitchMapButtonWrapper,#CurrentLocationButton,#CurrentLocationButtonWrapper,#cityListBox
	{
	margin: 5px;
}

#SwitchMapButtonWrapper,#CurrentLocationButtonWrapper,#CurrentLocationButton
	{
	width: 150px;
}

#guidanceButton{
	margin-left: 20%;
	height: 50px;
	width: 200px;
	margin-top: 40px;
}

#cityListBox,#SwitchMapButton {
	width: 150px;
}

body>table:nth-child(4) {
	width: 100%;
}

#headerHPanel>tbody>tr>td:nth-child(2) {
	position: absolute;
	right: 0px;
	height: 75px;
}

#tabpanel>tbody>tr:nth-child(2)>td>div {
	padding: 0px;
}

#MapContainer>tbody>tr>td {
	width: 100%;
	height: 100%;
}

#headerHPanel a {
	margin-right: 20px;
}

#headerHPanel {
	position: fixed;
}

#wrapperguidancepopup {
	height: 100px;
	width: 100px;
}

#imprintHTMLPanel p {
	margin-top: 10px;
}

#imprintHTMLPanel {
	margin: 15px;
}

#contentPanel {
	width: 100%;
	top: 50px;
	position: absolute
}

#mapcontainer {
	width: 100%;
	height: 100%;
}

#maplayoutpanel {
	width: 100%;
	height: 100%;
}

#tabpanel {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100px;
}

.gwt-TabPanelBottom {
	width: 100%;
	height: 100%;
}

.olMap {
	position: absolute;
}

html,body {
	height: 100%;
}

body {
	overflow: hidden;
}

#centerPanel,#slideRightPanel,#slideLeftPanel {
	height: 100%;
	z-index: 999;
}

#slideLeftPanel {
	margin-left: -200px;
	height: 130px;
}

#slideLeftPanelWrapper,#slideRightPanelWrapper {
	pointer-events: none;
}

#slideRightPanelPictureWrapper,#slideRightPanelPicture,#slideLeftPanelPictureWrapper,#slideLeftPanelPicture
	{
	height: 30px;
	width: 30px;
	font-size: 24px;
}

#slideRightPanelPicture,#slideLeftPanelPicture {
	pointer-events: visiblePainted;
	background-color: #19B5FE;
	border-radius: 4px;
	border: 1px solid;
}

#slideBarinfoLabel {
	font-size: 18px;
	text-align: center;
	padding-top: 400px;
	padding-right: 30px;
}

#slideRightPanelContentWrapper,#slideRightPanelContent {
	background-color: #EEEEEE;
	width: 400px;
	pointer-events: visiblePainted;
	opacity: 0.9;
	border-spacing: 5px;
	border-collapse: initial;
}

#slideLeftPanelContentWrapper,#slideLeftPanelContent {
	background-color: #EEEEEE;
	width: 200px;
	pointer-events: visiblePainted;
}

#slideLeftPanelWrapper {
	margin-left: 0;
	margin-right: auto;
	width: 30px;
}

#SlideBarLeftVerticalPanelWrapper {
	overflow: hidden;
}

#slideRightPanelWrapper {
	margin-left: auto;
	margin-right: 0;
	width: 30px;
}

#eventInfoCaption {
	font-size: 40px;
}

#eventInfoDescription {
	font-size: 20px;
}

#eventInfoDateTime {
	font-size: 15px;
}

#eventInfoLocation {
	font-size: 20px;
}

#PopupPanelContainerWrapper {
	margin-left: auto;
	margin-right: 35px;
	position: absolute;
	right: 0px;
	width: 175px;
	height: 0px;
	z-index: 999;
}

#PopupPanelContainer {
	width: 100%;
	height: 100%;
}

#guidancePopUpPanel {
	width: 350px;
	height: 255px;
	box-shadow:5px 5px 10px #666;
	padding: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #EEEEEE;
	z-index: 1000;
}

#guidancetextarea{
	resize: none;
	width: 250px;
}


#guidancePopUpPanel>div {
	padding: 3px;
}

.eventinfonotification {
	opacity: 0.95;
    background:#C5EFF7;
    border:1px solid #8ed9f6;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.alert-box {
	color: #555;
	border-radius: 10px;
	font-family: Tahoma, Geneva, Arial, sans-serif;
	font-size: 11px;
	padding: 0px 0px 0px 5px;
	margin: 2px;
}

.error {
	border: 1px solid #f5aca6;
}

.success {
	border: 1px solid #a6ca8a;
}

.warning {
	border: 1px solid #f2c779;
}

.notice {
	border: 1px solid #8ed9f6;
}

.configurationPanelForRetrievalStatisticDataPanelHeadLine {
	font-size: 20px;
	margin: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#statisticsWrapper {
	background-color: white;
}

#configurationPanelForRetrievalStatisticDataPanel {
	width: 400px;
}

table#configurationPanelForRetrievalStatisticDataPanel {
	border-collapse: separate;
}

#configurationPanelForRetrievalStatisticDataPanelWrapper {
	width: 300px;
}

table#vpForCharts {
	border-collapse: separate;
	border-spacing: 5px;
}

#listOfConditionKeywordsWrapperID,#listOfAttributeIdentifiersPanelWrapperID
	{
	margin-top: 20px;
}

.AttributeIdentifiersHP {
	width: 300px;
}

.textboxConditionKeyWord {
	margin-left: 30px;
}

.listboxConditionKeyWord {
	margin-left: 15px;
}

#StatistikWrapper {
	overflow-y: scroll;
	overflow-x: hidden;
}

.deleteButton {
	height: 40x;
	width: 40px;
}

.dividingline {
	border-radius: 100px;
	margin: 25px;
	margin-left: 5px;
	margin-right: 5px;
	width: 2px;
	height: 80%;
	border: 3px solid black;
}

#gwt-uid-3, #gwt-uid-4, #gwt-uid-5{
	margin-left: 20px;
}