<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->	
	<servlet>
		<servlet-name>EventInfoServiceImpl</servlet-name>
		<servlet-class>de.fhg.fokus.streetlife.mmecp.server.service.EventInfoServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ExampleData</servlet-name>
		<display-name>ExampleData</display-name>
		<description></description>
		<servlet-class>de.fhg.fokus.streetlife.mmecp.server.service.ExampleData</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>EventInfoServiceImpl</servlet-name>
		<url-pattern>/PanelUI/EventInfoService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExampleData</servlet-name>
		<url-pattern>/ExampleData</url-pattern>
	</servlet-mapping>

	<!-- atmosphere -->


	<!-- atmosphere -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>PanelUI.html</welcome-file>
	</welcome-file-list>

</web-app>